.item {
    margin: 30px 30px;
    font-family: Georgia, serif;
    width: 600px;
    display: inline-block;
    height: 1200px;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    
    z-index: 10;
    position: absolute;
    top: 2vh;
    left: calc(50% - 20rem);
    bottom: 2vh;
  }
  
  
.content {
    text-align: left;
    padding: 5px;
  }
  
.content h6 {
    font-size: 1.25rem;
    color: #2c292b;
  }

.content button{
    margin: 20px;
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: white;

}

.content button:hover,
.content button:active{
    background-color: #ffe2ed;
}
  
.actions{
  text-align: right;
}
.actions button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }

  .actions button:hover,
  .actions button:active {
    background-color: #ffe2ed;
  }

.imageDelete{
    text-align: left;
}

.imageDelete ul{
    list-style: none;
}
 
.imageDelete img{
    width: 200px;

}

.imageDelete li{
    margin: 10px;
}

.imageDelete button{
    margin-left: 50px;
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: white;
}

.imageDelete button:hover,
.imageDelete button:active{
    background-color: #ffe2ed;


}
.imageDiv label{
    color: #77002e;
    font-size: 1.2rem;
    margin: 10px;
}

.imageDiv p{
    margin-left: 20px;
    color: #77002e;

}

.imageDiv input{
    font: inherit;
    background-color: white;
    color: #77002e;
    border-radius: 4px;
    border: 1px solid #77002e;
    text-align: left;
    padding: 0.25rem;
}
.imageDiv button{
    margin-left: 10px;
    border-radius: 5px;
    background-color: #f0dbe3;
    border: 1px solid #77002e;
    color:#77002e;
}
  
