.component{
    margin: 20px;
    border-top: 1px solid #77002e;
    color: #77002e;
    padding: 10px;

}
.content{
    display: flex;
}


.image img{
    width: 200px;
}
.image{
    margin-right: 10px;
}

