.card{
    background-color: white;
    width: 90vw;
    margin: 0 auto;

}

.card h2{
    text-align: center;
    color: #77002e;
}

.card table{
    width: 500px;
    height: 400px;
}


.card table th{
    color: #77002e;
    font-size: 1.2rem;
}

.card table input{
    font: inherit;
    background-color: white;
    color: #77002e;
    border-radius: 4px;
    border: 1px solid #77002e;
    text-align: left;
    padding: 0.25rem;
}

.card button{
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #77002e;
    border: 1px solid #77002e;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
    margin-bottom: 10px;
    margin-left: 150px;
}



.content label{
    color: #77002e;
    font-size: 1.2rem;
    margin: 10px;
    width: 160px;
}

.content p{
    margin-left: 20px;
    color: #77002e;

}

.content input{
    font: inherit;
    background-color: white;
    color: #77002e;
    border-radius: 4px;
    border: 1px solid #77002e;
    text-align: left;
    padding: 0.25rem;
}
.content button{
    margin-left: 10px;
    border-radius: 5px;
    background-color: #f0dbe3;
    border: 1px solid #77002e;
    color:#77002e;
}
.imageDiv{
    display: flex;
}
.imageDiv img{
    width: 200px;
    margin-bottom: 10px;
}
.imageDiv ul{
    list-style: none;
}
